

body {
    
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    border: 2px solid grey;
    box-shadow: 2px 2px 3px grey;
    border-radius: 2%;
    padding: 5em;
    margin: 2em;
    
}

.mb-3, .my-3 {
    margin-bottom: 1rem!important;
    color: grey;
}

.text-center {
    text-align: center!important;
    margin-bottom: 2em;
    color:grey;
}
.container-sm{
    
    margin-bottom: 7rem;


}

/*users et products*/
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    text-align: center;
    color: black;
    font-weight:bold;
}



.table td, .table th {
    padding:1em;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
    text-align: center;
  
}

a.btn{
    margin-top:1em;
    margin-bottom: 2em;
    margin-right: 1em;
    margin-left: 1em;
}



.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    
}
/*read product*/

img.img-fluid{

    margin-bottom: 2em;

    margin-left:6em;
}

.col-sm-6{

    margin-top: 4em;
}

.col-sam-4{
 
    margin-top: 4em;

}

.form-group{
    color:rgba(255, 0, 0, 0.548);
    font-weight:bold;
}